/*--- imports  ---*/

/* palette consists of: #34233a, #daf7b4, #fff7ef, #db8e6b, #c15b5c */

.navbar .icon-reorder{
    font-size:2rem;
    display:none;
}

/*--- Colours (mostly)  ---*/
header{
    background-color:#c15b5c;
}

#navmenu{
    background-color:inherit;
}

.navmenu-item a div{
    color:#fff7ef;
}

.navmenu-item a:hover{
    text-decoration: none;
}

.navmenu-item a div:hover{
    background-color:#db8e6b;
}

/*---  Header - Navbar  ---*/
header{
    position:fixed;
    padding:none;
    margin:none;
    z-index:2;
}

.navbar{
    width:100%;
    padding:0 0;
    margin:0;
    height:50px;
}

#navmenu{
    width:50%;
    margin:0;
}

.navmenu-list{
    display:inline-table;
    float:right;
    margin-bottom:0;
}

.navmenu-item{
    display:table-cell;
    height:100%;
    vertical-align: middle;
}

.navmenu-item a div{
    text-align: center;
    padding: .8rem 0;
    width: 6rem;
    margin:auto;
}

@media(max-width:868px)
{
    .navbar{
        height:50px;
    }

    #navmenu{
        display:none;
        overflow:hidden;
    }

    .navmenu-list{
        background-color:#e99771;
        position:fixed;
        margin-top:1.55rem;
        width:100vw;
    }

    .navmenu-item{
        display:block;
        text-align:center;
    }

    .navbar .icon-reorder{
        display:block;
        overflow:hidden;
        float:right;
        color:#fff7ef;
        border-style:solid;
        border-radius:5px;
        border-width: 2px;
        padding:2px 6px;
    }
    .navmenu-item a div{
    }

}
/*--- articles ---*/

/*---  about   ---*/

/*--- timeline ---*/

/*---- contact ---*/

/*---- footer ----*/